.layout {
  height: 100vh;
}
          .logo {
            float: left;
            width: 200px;
            height: 40px;
            margin: 16px 24px 16px 0;
            background:url(assets/logo.png) 0 0 no-repeat;
            background-size: 100% 100%;
          }
          
          .ant-row-rtl #components-layout-demo-top-side-2 .logo {
            float: right;
            margin: 16px 0 16px 24px;
          }
          
.site-layout-background {
            background: url(assets/chart.png)  ;
            background-size: 100% 100%;

}
.header {
  padding-left: 0!important;
}

.hRight{
  float:right;
}
.userInfo, .logout {
  padding-left:10px;
  color:#fff
}
.logout{
  cursor: pointer;
}
